/*General HTML Tags*/


html {
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins";
    text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}




.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

/*containers*/
.container-fluid {
    padding: 7% 15%;
}

#title .container-fluid {
    padding: 3% 15% 7%;
}



.colored_section {
    background-color: #23286b;
    color: #fff;
}

.uncolored_section {
    background-color: white;
    color: #23286b;
}



/*Heading Title*/

#title {

    text-align: left;
}

#header_title {
    font-family: "Poppins";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;



}





.navbar {

    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "DM Sans";
    font-size: 2rem;
    font-weight: bold;
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-family: "DM Sans";

    font-size: 1.2rem;
}

.contact-btn {
    margin: 5% 3% 5% 0;
    background-color: #f1b522;
    color: white;
    border-radius: 0%;
    padding: 15px 36px;
    letter-spacing: 1.5px;
    font-size: 1rem;
}

.contact-btn:hover {
    color: #f1b522;
    background-color: white;
}

.title-image {
    width: 100%;
    border-radius: 20px;
    position: relative;
    right: 0.5%;

}

.para {
    font-family: "DM Sans";
    font-size: 1.5rem;
}

.img_me {
    width: 70%;
    border-radius: 20px;
}

#greeting_h1,
#skills_h2 {
    text-decoration: underline;
    font-size: 2.5rem;
}

.feature-title {
    font-size: 1.5rem;
}

.feature_box {

    padding: 5%;
}



.icon {
    color: #f1b522;
    margin-bottom: 1rem;
    transition: all 0.3s linear;
    cursor: pointer;
}

.icon:hover {
    color: #4c54c0;
}

#skills_subtitle {
    font-size: 1.5rem;
}

.skills__img {
    width: 50%;
    border-radius: .5rem;
}

.skills_container {
    row-gap: 2rem;
    text-align: center;
}

.skills_subtitle {
    margin-bottom: 1rem;
}

.skills__text {
    margin-bottom: 2rem;
}

.skills_data {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    padding: .5rem 1rem;
    margin-bottom: 2rem;
    border-radius: .5rem;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
}

.skills__icon {
    font-size: 2rem;
    margin-right: 1rem;
    color: #23286b;
    transition: all 0.3s ease;

}

.skills__icon:hover {
    color: #f1b522;
}

.skills_names {
    display: flex;
    align-items: center;
}

.skills__bar {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #23286b;
    height: .25rem;
    border-radius: .5rem;

}

.skills__html {
    width: 95%;
}

.skills__css {
    width: 80%;
}

.skills__js {
    width: 50%;
}

.skills__singing {
    width: 98.5%;
}

.skills__img {
    border-radius: .5rem;
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}


.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 30px;
}

.page-top {
    margin-top: 85px;
}


img.zoom {
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


img.zoom:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {

    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}




@media (max-width: 1028px) {
    #title {
        text-align: center;
    }


}